$dark-blue-color: #1b2f51;
$white-color: #fff;
$bright-green-color: #09d504;
$vivid-orange-color: #faa51a;
$dark-navy-blue-color: #162641;

$banner-height-mobile: 667;
$banner-height-desktop: 870;
